__pycache__/
*.pyc
.venv/
.env
*.wav
!sample-project/greeting.wav
!sample-project/tts.wav
*.sln
unity-project/Assets/ML-Agents/
unity-project/Assets/ML-Agents.meta
unity-project/Assets/XRI/
unity-project/Assets/XRI.meta
