* text=auto
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.exe binary
*.dll binary
*.7z binary
*.wav binary
exe/x2模拟器.exe filter=lfs diff=lfs merge=lfs -text
