__pycache__/
*.pyc
.venv/
.env
*.wav
!python-agent-client/greeting.wav
!python-agent-client/tts.wav
*.sln
unity-agent-playground/Assets/ML-Agents/
unity-agent-playground/Assets/ML-Agents.meta
unity-agent-playground/Assets/XRI/
unity-agent-playground/Assets/XRI.meta
linksoul-agent-client/
